body{
  display:flex;
  justify-content: center;
  align-items: center;  
}
.ml-5{
  margin-left: 5px;
}
.mr-5{
  margin-right: 5px;
}
.product-sell{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.btn-select{
  display: flex;
  justify-content: space-between;
  align-items: center;  
}
h2{
  text-align: center;
}